.aboutSection{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    margin-left: 20rem;
    margin-right: 20rem;
}

.sobre{
    width: 25.6875rem;
    height: 9.25rem;
    font-size: 1rem;
}

.paragraph{
    margin-right: 10px;
    width: 700px;
    height: 18.75rem;
}