:root{
    --font-primary: 'inter', sans-serif;
    --font-secondary:'Poppins', sans-serif;;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --colo-purple: #6880FF;
}

body{
    background: #000000;
    color: #ffffff;
    list-style: none;
    max-width: 100%;
}